@import "./fontsStyles.css";

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homeMain {
  background-color: black;
  height: 91.5vh;
  display: flex;
  flex: 1;
}

.clip-left {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  border: none;
  z-index: 1;
  overflow: hidden;
}

.clip-right h1 {
  font-family: "nike";
  font-size: 2.7em;
}

button {
  font-family: "robotoBtns";
}

.spotlight h1 {
  font-family: "spNike";
  font-size: 3em;
}

.ft > p:first-child {
  color: white;
}

.footer {
  font-family: "robotoBtns";
}
