.clip-left {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  border: none;
  z-index: 999;
}

.clip-right {
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.homeMain {
  background-color: black;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
